@page "{trainingTeamID}"
@using Tennis.Models
@model Tennis.Pages.TrainingTeams.TrainingTeamRegistrationModel
@{
    ViewData["Title"] = "Tilmelding til træningshold";
}
<div class="card cardouter p-3">
<p style="color:red">@ViewData["ErrorMessage"]</p>


@if (Model.Team != null)
{
    <div class="card cardfocus p-3">
    <h1 class="display-4">Tilmelding til @Model.Team.Title</h1>
    <form method="post">
        <div class="form-group">
            <label>ID:</label> @Model.Team.TrainingTeamID <br />
            <label>Navn:</label> @Model.Team.Title <br />
            <label>Beskrivelse:</label> <p style="max-width:fit-content; white-space:pre-wrap"></p> <br />
            <label>Træningstid:</label> @if (Model.Team.weeklyTimeBetween == null)
            {
                <p>Ingen træningstid</p>
            }
            else
            {
                @Model.Team.weeklyTimeBetween.ToString()
            }
            <br />
            <label>Trænere:</label> <details>
                <summary>@Model.Team.Trainers.Count Trænere</summary>
                @foreach (User trainer in Model.Team.Trainers)
                {
                    <p>@trainer.NameDispayForUser</p>
                }
            </details> <br />
            <label>Deltagere:</label> <details>
                <summary>@Model.Team.Trainees.Count Deltagere</summary>
                @foreach (User trainee in Model.Team.Trainees)
                {
                    <p>@trainee.NameDispayForUser</p>
                }
            </details> <br />

            <input type="submit" asp-page-handler="Cancel" class="btn btn-danger" value="Fortryd" />
            <input type="submit" asp-page-handler="" class="btn btn-sucess" value="Tilmeld" />

           
        </div>
    </form>
    </div>
}
</div>