@page "{sorting?}"
@using Tennis.Models
@using Tennis.Helpers
@model Tennis.Pages.TrainingTeams.TrainingTeamIndexModel
@{
    ViewData["Title"] = "Træningshold kontrolpanel";
}
<p style="color:red">@ViewData["ErrorMessage"]</p>
<form method="get">

    <input asp-for="AdvancedSearch" onclick="this.form.submit()" />
    <label for="AdvancedSearch">Advanceret søgning</label><br>

    @if (!Model.AdvancedSearch)
    {
        <p>
            Søg Træningshold: <input type="text" asp-for="@Model.GenericFilter" onchange="this.form.submit()" /> 
        </p>
    }
    else
    {
        <p>
            Søg ID: <input type="text" asp-for="@Model.IDFilter" onchange="this.form.submit()" />
            Søg Navn:<input type="text" asp-for="@Model.TitleFilter" onchange="this.form.submit()" />
            Søg Beskrivelse: <input asp-for="@Model.DescriptionFilter" onchange="this.form.submit()" />
            Søg Træningsdag:
            <select asp-for="@Model.DayFilter" asp-items="@Model.DaySearchOptions" onchange="this.form.submit()">
                <option value="">Alle dage</option>
            </select><br />
            Søg Træningstidspunkt : <input type="time" min="@LaneBookingHelpers.HourOptions.First().Value" max="@LaneBookingHelpers.HourOptions.Last().Value" asp-for="@Model.TimeFilter" onchange="this.form.submit()" />
           
        </p>
    }

    <input type="hidden" asp-for="@Model.Descending" value="@Model.Descending" />
    <input type="hidden" asp-for="@Model.PrevSortBy" value="@Model.PrevSortBy" />
    <p>
        @if (Model.LoggedInUser.Administrator)
        {
            <a asp-page="/Events/CreateEvent">Opret Nyt Træningshold</a>
        }
    </p>

    <h4 style="color:aquamarine"> Liste af træningshold</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="TrainingTeamID" asp-route-sorting="true">ID</button>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Title" asp-route-sorting="true">Navn</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Description" asp-route-sorting="true">Beskrivelse</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="MaxTrainees" asp-route-sorting="true">Max deltagere</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="weeklyTimeBetween" asp-route-sorting="true">Ugelig træningstid</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Trainers" asp-route-sorting="true">Trænere</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Trainees" asp-route-sorting="true">Deltagere</button>
                </th>
                <th>
                    Funktioner
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Teams.Count() != 0)
            {
                @foreach (var item in Model.Teams)
                {
                    if (Model.LoggedInUser.Administrator || item.IsTrainer(Model.LoggedInUser))
                    {
                        <tr>
                            <td>
                                @item.TrainingTeamID
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                <p style="max-width:fit-content; white-space:pre-wrap">@item.Description</p>
                            </td>
                            <td>
                                @item.MaxTrainees
                            </td>
                            <td>
                                @if (item.weeklyTimeBetween == null)
                                {
                                    <p>Ingen træningstid</p>
                                } 
                                else
                                {
                                    <p>@item.weeklyTimeBetween.ToString()</p>
                                }
                            </td>
                            <td>
                                <details>
                                    <summary>@item.Trainers.Count Trænere</summary>
                                    @foreach (User trainer in item.Trainers)
                                    {
                                        <p>@trainer.Username : @trainer.FirstName @trainer.LastName</p>
                                    }
                                </details>
                            </td>
                            <td>
                                <details>
                                    <summary>@item.Trainees.Count Medlemmer</summary>
                                    @foreach (User trainee in item.Trainees)
                                    {
                                        <p>@trainee.Username : @trainee.FirstName @trainee.LastName</p>
                                    }
                                </details>
                            </td>
                            <td>
                                <p>
                                    @if (Model.LoggedInUser.Administrator)
                                    {
                                        <a asp-page="/TrainingTeams/DeleteTrainingTeam" asp-route-trainingTeamID="@item.TrainingTeamID" class="btn btn-outline-warning btn-sm w-100" style="margin-top: 5px">Slet</a>
                                        <a asp-page="/TrainingTeams/EditTrainingTeam" asp-route-trainingTeamID="@item.TrainingTeamID" class="btn btn-outline-success btn-sm w-100">Rediger</a>
                                        <a asp-page="/TrainingTeams/BookLane" asp-route-trainingTeamID="@item.TrainingTeamID" class="btn btn-outline-success btn-sm w-100">Book bane</a>

                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-secondary disabled btn-sm w-100" style="margin-top: 5px">Fjern</button>
                                        <button class="btn btn-outline-secondary disabled btn-sm w-100">Rediger</button>
                                        <a asp-page="/TrainingTeams/BookLane" asp-route-eventID="@item.TrainingTeamID" class="btn btn-outline-success btn-sm w-100">Book bane</a>
                                    }

                                </p>
                            </td>
                        </tr>
                    }
                    
                }
            }
        </tbody>
    </table>
</form>

