@page
@using Tennis.Models
@model Tennis.Pages.Articles.IndexModel
@{
}

<!-- CREATE NEW ARTICLE BUTTON -->
<span>
    <a class="btn btn-outline-success rounded-pill" asp-page="/Articles/CreateArticle" style="float:left">Create New Article</a>
</span>


<!-- NEWSFEED -->
@foreach (var a in Model.AllArticles) {

    <!-- ONE ARTICLE CARD -->
    <p class="align-items-md-center">
        <div class="card" style="width: 45rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <strong>
                        @a.Title
                    </strong>
                </h5>

                @if (a.AuthorID != null) {
                    <h6 class="card-subtitle mb-2 text-muted">
                        - a.AuthorID,
                    </h6>
                }
                else {
                    <h6 class="card-subtitle mb-2 text-muted">
                        - Deleted User,
                    </h6>
                }

                <h6 class="card-subtitle mb-2 text-muted">
                    @a.TimeStamp
                </h6>

                <p class="card-text">
                    @a.Content
                </p>

                @if (a.ImgPath != null) {
                    <img class="card-img" src="..." alt="@a.Title" />
                }

            </div>
            <footer>
                <span>
                    <a class="btn btn-outline-info rounded-pill btn-sm" asp-page="/Articles/EditArticle" asp-route-id="@a.ArticleID" style="float:left">Edit</a>
                </span>
                <span>
                    <a class="btn btn-outline-danger rounded-pill btn-sm" asp-page="/Articles/DeleteArticle" asp-route-id="@a.ArticleID" style="float:right">Delete</a>
                </span>
            </footer>
        </div>
    </p>
}