@page "{bookingID:int}"
@model Tennis.Pages.Events.CancelEventBookingModel
@{
    ViewData["Title"] = "Fjern tilmelding";
}

<p style="color:red">@ViewData["ErrorMessage"]</p>

@if (Model.Booking != null)
{
    <h1 style="font-weight:bold">Slet Event Tilmelding til @Model.Booking.Event.Title</h1>
    <h2 style="font-weight:bold">
        Er du sikker på at du vil slette tilmelding til @Model.Booking.Event.Title ?
    </h2>

    <p style="font-weight:bold">Tidspunkt:</p>
    <p>@Model.Booking.Event.EventTime.StartTime.Value.ToString("dd/MM/yyyy HH:mm") til @Model.Booking.Event.EventTime.EndTime.Value.ToString("dd/MM/yyyy HH:mm")</p>

    <form method="post">
        <input type="submit" value="Slet Event Tilmelding" />
    </form>
}
