@page "{eventID:int}"
@using Tennis.Helpers;
@model Tennis.Pages.Events.DeleteEventModel
@{
    ViewData["Title"] = "Slet event";
}

<p style="color:red">@ViewData["ErrorMessage"]</p>

@if (Model.Event != null)
{
    <h1 style="font-weight:bold">Slet Event</h1>
    <h2 style="font-weight:bold">
        Er du sikker på at du vil slette @Model.Event.Title for evigt? <br />
        Du kan aflyse eventen istedet ved at klikke her</h2>

    <p style="font-weight:bold">ID:</p>
    <p>@Model.Event.EventID</p>
    <p style="font-weight:bold">Titel:</p>
    <p>@Model.Event.Title</p>
    <p style="font-weight:bold">Beskrivelse:</p>
    <p style="max-width:fit-content; white-space:pre-wrap">@Model.Event.Description</p>
    <p style="font-weight:bold">Aflyst:</p>
    <p>@BoolHelpers.ToJaNejValue(Model.Event.Cancelled)</p>
    <p style="font-weight:bold">Starttid:</p>
    <p>@Model.Event.EventTime.StartTime.Value.ToString("dd/MM/yyyy HH:mm")</p>
    <p style="font-weight:bold">Sluttid:</p>
    <p>@Model.Event.EventTime.EndTime.Value.ToString("dd/MM/yyyy HH:mm")</p>
    <p style="font-weight:bold">Afmældningsgrænse:</p>
    <p>@Model.Event.CancellationThresholdMinutes</p>

    <form method="post">
        <input type="submit" value="Slet Event" />
    </form>
}