@page "{sorting?}"
@using Tennis.Helpers;
@model Tennis.Pages.Events.IndexAdminModel
@{
    ViewData["Title"] = "Events kontrolpanel";
}
<div class="card cardouter p-3">
<p style="color:red">@ViewData["ErrorMessage"]</p>
<form method="get" class="card cardfocus p-3">
    <div class="form-group">
    <input asp-for="AdvancedSearch" onclick="this.form.submit()" />
    <label for="AdvancedSearch">Advanceret søgning</label><br>
    </div>
    @if (!Model.AdvancedSearch)
    {
        <p>
            Søg Events: <input type="text" asp-for="@Model.GenericFilter" onchange="this.form.submit()" /> Vis gamle events: <input asp-for="ViewOldEventsFilter" onchange="this.form.submit()" />
        </p>
    }
    else
    {
            <div class="input-group w-50">
                <span class="input-group-text" style="width: 13%;">Tekst:</span>
                <input type="text" class="form-control" asp-for="@Model.TitleFilter" onchange="this.form.submit()" placeholder="Titel" />
                <input type="text" class="form-control" asp-for="@Model.DescriptionFilter" onchange="this.form.submit()" placeholder="Beskrivelse" />
            </div>
            <div class="input-group w-50">
                <span class="input-group-text" style="width: 13%;">Tid:</span>
                <input type="text" class="form-control" asp-for="@Model.CancellationThresholdFilter" onchange="this.form.submit()" placeholder="Afmeldingsgrænse" />
                <input class="form-control" asp-for="@Model.DateFilter" onchange="this.form.submit()"  placeholder="Dato"/>
            </div>
            <div class="input-group w-50">
                <span class="input-group-text" style="width: 13%;">Vis:</span>

                <select class="form-control dropdown" asp-for="@Model.CancelledFilter" asp-items="@Model.CancelelledFilterOptions" onchange="this.form.submit()">
                    <option value="">Alle</option>
                </select><br />
                <div class="input-group-text"><input class="form-check-input" asp-for="ViewOldEventsFilter" onchange="this.form.submit()" /><span class="form-check-label"> Gamle events</span></div>
            </div>
@*         <p>
                Søg EventID: <input type="text" asp-for="@Model.EventIDFilter" onchange="this.form.submit()" />
                Søg Titel:<input type="text" asp-for="@Model.TitleFilter" onchange="this.form.submit()" />
            Søg Beskrivelse: <input asp-for="@Model.DescriptionFilter" onchange="this.form.submit()" />
            Vis gamle events: <input asp-for="ViewOldEventsFilter" onchange="this.form.submit()" />
            Aflyst:
            <select asp-for="@Model.CancelledFilter" asp-items="@Model.CancelelledFilterOptions" onchange="this.form.submit()">
                    <option value="">Alle</option>
                    </select><br />
            Søg Dato: <input asp-for="@Model.DateFilter" onchange="this.form.submit()" />
            Søg Afmældningsgrænse: <input asp-for="@Model.CancellationThresholdFilter" onchange="this.form.submit()" />
           
        </p> *@
    }



    <input type="hidden" asp-for="@Model.Descending" value="@Model.Descending" />
    <input type="hidden" asp-for="@Model.PrevSortBy" value="@Model.PrevSortBy" />
    <p>
        <a asp-page="/Events/CreateEvent" class="btn btn-outline-primary">Opret Ny Event</a>

    </p>

    <h4 style="color:aquamarine"> Liste af events</h4>

    <table class="table">
        <thead class="lighttablehead">
            <tr>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="EventID" asp-route-sorting="true">ID</button>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Title" asp-route-sorting="true">Titel</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Description" asp-route-sorting="true">Beskrivelse</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="Cancelled" asp-route-sorting="true">Aflyst</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="StartTime" asp-route-sorting="true">Starttid</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="EndTime" asp-route-sorting="true">Sluttid</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="EventState" asp-route-sorting="true">Status</button>
                </th>
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" value="CancellationThreshold" asp-route-sorting="true">Afmeldingsgrænse</button>
                </th>
                <th>
                    Funktioner
                </th>
            </tr>
        </thead>
        <tbody class="lighttable">
            @if (Model.Events.Count() != 0)
            {
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td>
                            @item.EventID
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            <p style="max-width:fit-content; white-space:pre-wrap">@item.Description</p>
                        </td>
                        <td>
                            @BoolHelpers.ToJaNejValue(item.Cancelled)
                        </td>
                        <td>
                            @item.EventTime.StartTime.Value.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @item.EventTime.EndTime.Value.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @RelativeTimeHelpers.TimeDisplay[item.EventState]
                        </td>
                        <td>
                            @item.CancellationThresholdMinutes
                        </td>
                        <td>
                            <p>
                                <a asp-page="/Events/DeleteEvent" asp-route-eventID="@item.EventID">Slet Event</a>
                                <a asp-page="/Events/EditEvent" asp-route-eventID="@item.EventID">Rediger Event</a>
                            </p>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>

</div>