@page
@model Tennis.Pages.Lanes.BookingCreateModel
@{
    ViewData["Title"] = "Book en bane";
}
<div class="d-flex row card cardgold">
    <h3 class="display-4">Din booking:</h3>
    <form method="post" class="container row p-3">
        <div class="col-md card cardouter p-3 m-2">
        <input type="hidden" asp-for="@Model.CurrentBooking.LaneNumber" />
        <input type="hidden" asp-for="@Model.CurrentBooking.BookingID" />
        <input type="hidden" asp-for="@Model.CurrentBooking.UserID" />
        <input type="hidden" asp-for="@Model.CurrentBooking.DateStart" />
        <input type="hidden" asp-for="@Model.CurrentBooking.Cancelled" />
        <h4 class=" textmain">Bane @Model.LaneInfo.Id :
            @if(Model.LaneInfo.OutDoor)
            {
                <span>Udendørs </span>
            } else
            {
                <span>Indendørs </span>
            }
            @if(Model.LaneInfo.PadelTennis)
            {
                <span>padeltennis</span>
            } else
            {
                <span>tennis</span>
            }
        </h4>
        <h4 class=" textmain">
            Tidspunkt: @Model.CurrentBooking.DateStart
        </h4>
            @if(Model.CheckMaximum(Model.CurrentUser))
            {
                <span class="text-danger">Du har allerede 4 bookinger i de næste 14 dage. For at lave nye bookinger, skal du enten aflyse en nuværende booking, eller vente til en af dine bookinger er overstået.</span>
            } else if(Model.AlreadyBooked(Model.CurrentUser))
            {
                <span class="text-danger">Du er allerede booket på en anden bane på dette tidspunkt.</span>
            }
            <br />
        </div>
        <div class="col-md card cardfocus p-3 m-2">
        <div style="overflow-y:scroll">
            <table class="table">
                <thead class="lighttablehead">
                    <tr>
                        <td>
                                <h4>Vælg venligst tennismakker</h4>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.AvailableUsers)
                    {
                            string buttonvalue = user.UserId < 0 ? user.Username : $"{user.FirstName} {user.LastName}";
                            string color = user.UserId < 0 ? "primary" : "success";
                            if (!Model.CheckMaximum(Model.CurrentUser) && !Model.AlreadyBooked(Model.CurrentUser) && !Model.CheckMaximum(user) && !Model.AlreadyBooked(user))
                            {
                                    <tr>
                                        <td>
                                            <input type="submit" asp-page-handler="Book" asp-route-partnerid="@user.UserId" value="@buttonvalue" class="btn btn-outline-@color w-100 border-0" />
                                        </td>
                                    </tr>
                            }
                            else
                            {
                                    <tr class="table-secondary">
                                        <td>
                                            <input type="submit" asp-page-handler="Book" asp-route-partnerid="@user.UserId" value="@buttonvalue" class="btn btn-outline-danger w-100 border-0 disabled" />
                                        </td>
                                    </tr>
                                }
                            }
                </tbody>
            </table>
        </div>
        </div>
        <br />
    </form>
@*     <form method="get" class="container col-md-6 card">
        <input type="hidden" asp-for="@Model.SelectedDay" />
        <input type="hidden" asp-for="@Model.Partner.UserId" />
        <div class="form-group">
        <input asp-for="@Model.Partner.Username" type="text" class="form-control" placeholder="Vælg en makker nedenunder" readonly />
        </div>
       
    </form> *@
</div>