@page
@model Tennis.Pages.Lanes.BookingCancelModel
@{
    ViewData["Title"] = "Aflys banebooking";
}
<div class="card cardouter" align="center">
<h1 class="display-4 text-danger">Aflys booking</h1>

<p class="text-danger">@Model.Message</p>

<form method="post">
    <div class="form-group border cardfocus">
        <p class="textdark">Du er ved at aflyse din booking mellem <b class="textmain">@Model.Booker.FirstName @Model.Booker.LastName</b> og <b class="textmain">@Model.Mate.FirstName @Model.Mate.LastName</b>,</p>
        <p class="textdark">Bane @Model.CurrentBooking.LaneNumber,  @Model.CurrentBooking.DateStart.ToShortDateString() kl. @Model.CurrentBooking.DateStart.ToShortTimeString()</p>
        <br />
        <p class="textaccent">Bare rolig, din tennismakker bliver informeret om aflysningen.</p>
        <br />

        <input type="submit" asp-page-handler="Delete" asp-route-bookingid="@Model.CurrentBooking.BookingID" class="btn btn-danger" value="Aflys" />

        <input type="submit" asp-page-handler="Cancel" class="btn btn-outline-secondary" value="Fortryd" />
    </div>
</form>
</div>