@page
@model Tennis.Pages.Lanes.BookingOverviewModel
@{
    ViewData["Title"] = "Book en bane";
}
<form method="get" class="container">
<div class="container-fluid row">
        <p>Filter:</p>
        <br />
    <div class="col">

    <span>Fra </span><select asp-for="@Model.StartFilter" asp-items="@Model.FromOptions" onchange="this.form.submit()"></select>
    <br />
        <span>Til </span><select asp-for="@Model.EndFilter" asp-items="@Model.ToOptions" onchange="this.form.submit()"></select>
        </div>
        <div class="col">
            <input asp-for="TennisFilter" onclick="this.form.submit()" />
            <label for="TennisFilter">Tennis</label><br>
            <input asp-for="PadelFilter" onclick="this.form.submit()" />
            <label for="PadelFilter">Padel</label>
        </div>
        <div class="col">
            <input asp-for="InsideFilter" onclick="this.form.submit()" />
            <label for="InsideFilter">Indendørs</label><br>
            <input asp-for="OutsideFilter" onclick="this.form.submit()" />
            <label for="OutsideFilter">Udendørs</label>
        </div>
</div>
<div class="d-flex row justify-content-start" style="height: 500px">
<div class="col-md-6">
        <div align="center">
        <select asp-for="@Model.SelectedMonth" asp-items="@Model.SelectOptions" onchange="this.form.submit()"></select>
    </div>
    <div class="container">
    <table class="table table-borderless m-auto">
        <thead>
            <tr>
                <th class="text-center" style="width: 14%">
                    Søn
                </th>
                            <th class="text-center" style="width: 14%">
                    Man
                </th>
                            <th class="text-center" style="width: 14%">
                    Tir
                </th>
                            <th class="text-center" style="width: 14%">
                    Ons
                </th>
                            <th class="text-center" style="width: 14%">
                    Tor
                </th>
                            <th class="text-center" style="width: 14%">
                    Fre
                </th>
                            <th class="text-center" style="width: 14%">
                    Lør
                </th>
            </tr>
        </thead>
        <tbody class="">
            @for(int week=1; week<=6; week++)
            {
                <tr>
                    @for(int weekday=1; weekday<=7; weekday++)
                    {
                    int totalIteration = (weekday + ((week - 1) * 7));

                                    @if (Model.FirstOfTheWeek < totalIteration && totalIteration < (Model.DatesOfTheMonth.Count + 1 + Model.FirstOfTheWeek))
                                    {
                                        int actualDate = Model.DatesOfTheMonth[totalIteration - Model.FirstOfTheWeek - 1].Day;
                                            if (Model.SelectedDay != null && Model.SelectedDay.Value.Day == actualDate)
                                            {
                                            <td class="table-warning border" align="center">
                                                <button class="w-100" type="submit"
                                                value="@Model.DatesOfTheMonth[totalIteration-Model.FirstOfTheWeek-1].ToString()"
                                                name="DateString"
                                                style="border: none; margin:auto; padding: 0px; background-color: transparent;">
                                                    <div class="m-auto w-100">
                                                        <span class="text-black-50">@actualDate</span>
                                                    </div>
                                                    <div style="word-spacing: -2px">
                                                    @foreach (var item in @Model.Lanes)
                                                    {
                                                        <span style="font-size: 30%; letter-spacing: -2px;">&#129001;</span>
                                                    }
                                                    </div>
                                                </button>
                                                </td>
                                        } else { 
                                            <td class="border" align="center">
                                        <button class="w-100" type="submit" 
                                        value="@Model.DatesOfTheMonth[totalIteration-Model.FirstOfTheWeek-1].ToString()" 
                                        name="DateString" 
                                        style="border: none; margin:auto; padding: 0px; background-color: transparent;">
                                            <div class="m-auto w-100">
                                                <span class="text-black-50">@actualDate</span>
                                            </div>
                                                    <div style="word-spacing: -2px">
                                            @foreach (var item in @Model.Lanes)
                                            {
                                                            if (((item.PadelTennis && Model.PadelFilter) || (!item.PadelTennis && Model.TennisFilter)) && ((item.OutDoor && Model.OutsideFilter) || (!item.OutDoor && Model.InsideFilter))) {
                                                                if(Model.Bookings.Where(b => b.LaneNumber == item.Id).Where(b => b.DateStart == new DateTime(DateTime.Now.Year,Model.SelectedMonth, actualDate)).Count() == 0) {
                                                                    <span style="font-size: 30%; letter-spacing: -2px;">&#129001;</span>
                                                                } else
                                                                {
                                                                    <span style="font-size: 30%; letter-spacing: -2px;">&#128997;</span>
                                                                }
                                                            }
                                                        }
                                            </div>
                                        </button>
                                                </td>
                                            }
                                        } else
                                        {
                                            <td></td>
                                        }
                    }
                </tr>
            }
        </tbody>
    </table>
            </div>
</div>

    @if(Model.SelectedDay != null)
    {
        <div class="container-fluid col-md-6 border" align="center" style="max-height: 500px; overflow-y: scroll">
            <h3 class="display-6">@Model.SelectedDay.Value.Date.ToShortDateString()</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <p>Tider:</p>
                        </th>
                        @foreach(var item in Model.Lanes)
                        {
                            <th>
                                <span>Bane 
                                    <span>@item.Id</span><br />
                                        @if (item.OutDoor)
                                        {
                                            <span>Udendørs</span>
                                        } else
                                        {
                                            <span>Indendørs</span>
                                        }
                                        @if(item.PadelTennis)
                                        {
                                            <span>(P)</span>
                                        }
                                    </span>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(int hour=8; hour<=21; hour++)
                    {
                        <tr>
                            <td>
                                <span>@hour</span> - <span>@(hour+1)</span>
                            </td>
                            @foreach(var item in Model.Lanes)
                            {
                                <td>
                                    <span style="color: green; font-weight:600">Ledig</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            </div>
    }
</div>
</form>