@page
@model Tennis.Pages.Lanes.LaneDeleteModel
@{
    ViewData["Title"] = "LaneDelete";
}

<div class="card container-fluid cardgold">
<div class="card container-fluid lighttablehead">
<h1>fjern bannen</h1>
</div>
    <div class="container col-md card cardfocus">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.DelLane.Id" class="control-label"></label> <p>@Model.DelLane.Id</p>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DelLane.OutDoor" class="control-label"></label> <p>@Model.DelLane.OutDoor</p>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DelLane.PadelTennis" class="control-label"></label> <p>@Model.DelLane.PadelTennis</p>
            </div>

            <div class="form-group">
                <input type="submit" value="Fjern" asp-page-handler="Delete" style="color: red" asp-route-id="@Model.DelLane.Id" class="btn btn-primary" />
                    <input type="submit" value="Fortryd" asp-page-handler="Cancel" style="color: yellow" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>