@page
@model Tennis.Pages.Lanes.LaneCreateModel
@{
    ViewData["Title"] = "LaneCreate";
}
<div class="card container-fluid cardgold">
    <div class="card container-fluid lighttablehead">
<h1>skab en ny banne</h1>
    </div>
<div class="row">
        <div class="container col-md card cardfocus">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.NewLane.Id" class="control-label"></label>
                <input asp-for="@Model.NewLane.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewLane.OutDoor" class="control-label"></label>
                <input asp-for="@Model.NewLane.OutDoor"/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewLane.PadelTennis" class="control-label"></label>
                <input asp-for="@Model.NewLane.PadelTennis"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Skab" asp-page-handler="Create" style="color: limegreen" class="btn btn-primary" />
                    <input type="submit" value="Fortryd" asp-page-handler="Cancel" style="color: yellow " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>