@page
@using Tennis.Helpers
@using Tennis.Interfaces
@inject IUserService userService
@model Tennis.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Brugerinfo";
}

<h1 class="display-4">Brugerinfo for @Model.CurrentUser.Username:</h1>

<label>Brugernavn:</label> @Model.CurrentUser.Username
<br />
<label>Navn:</label> @Model.CurrentUser.FirstName @Model.CurrentUser.LastName
<br />
@if (Model.CurrentUser.UserId == 0)
{
    <span class="text-success">System admin.</span> <a asp-area="" asp-page="/Users/Overview" class="btn btn-outline-success">Brugeroversigt</a>
}
else if (Model.CurrentUser.Administrator)
{
    <span class="text-success">Administrator.</span> <a asp-area="" asp-page="/Users/Overview" class="btn btn-outline-success">Brugeroversigt</a>
}
<br />

<div>
    <div style="display:flex;justify-content:space-between">
        <form method="get">
            Vis tilmeldinger fra dato: <input asp-for="@Model.DateFilter" onchange="this.form.submit()" />
            Vis tilmeldinger til aflyste events: <input asp-for="CancelledFilter" onclick="this.form.submit()" />
            Søg events: <input asp-for="TitleFilter" onchange="this.form.submit()" />
            <!-- NEWSFEED -->
            @foreach (var booking in Model.MyBookings)
            {
                <!-- ONE ARTICLE CARD -->
                if (booking.Event.EventState != RelativeTime.Past)
                {
                    <p class="align-items-md-center">
                        <div class="card" style="width: 45rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <strong>
                                        Tilmelding til @booking.Event.Title
                                    </strong>
                                </h5>

                                @if (booking.Event.Cancelled)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        &#128997; Aflyst
                                    </h6>
                                }
                                else
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        @RelativeTimeHelpers.TimeDisplay[booking.Event.EventState]<br />
                                        @booking.Event.TimeTillStartDisplay
                                    </h6>
                                }
                                <h6 class="card-subtitle mb-2 text-muted">
                                    @booking.Event.EventTime.StartTime.Value.ToString("dd/MM/yyyy HH:mm") til @booking.Event.EventTime.EndTime.Value.ToString("dd/MM/yyyy HH:mm")
                                </h6>

                                <h6 class="card-subtitle mb-2 text-muted">
                                    Du kan senest afmelde @booking.Event.CancellationThresholdMinutes minutter før start
                                </h6>
                            </div>
                            <footer>
                                <span>

                                    <a asp-page="EditEventBooking" asp-route-bookingID="@booking.BookingID" class="btn btn-outline-warning btn-sm w-100" style="margin-top: 5px">Rediger</a>
                                </span>
                                <span>

                                    @if (booking.CanBeCancelled)
                                    {
                                        <a asp-page="/Events/CancelEventBooking" asp-route-bookingID="@booking.BookingID" class="btn btn-outline-warning btn-sm w-100" style="margin-top: 5px">Afmeld</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-secondary disabled btn-sm w-100">Afmeld</button>
                                    }

                                </span>
                            </footer>
                        </div>
                    </p>
                }

            }
        </form>
    </div>
    <br />
    <br />

    <div style="display:flex;justify-content:space-between">
        <form method="get">
            <p>
                kronologisk rejkeføjle: <input type="checkbox" asp-for="@Model.chronologic" onclick="this.form.submit()" />
                søg efter maker: <input asp-for="@Model.mate" onchange="this.form.submit()" />
            </p>

            @foreach (var booking in Model.MyLaneBookings)
            {
                if (booking.DateStart > DateTime.Now.AddHours(-1))
                {
                    <p class="align-items-md-center">
                        <div class="card" style="width: 45rem;">
                            <div class="card-body">
                                <strong>
                                    Bane booking
                                </strong>

                                <h6 class="card-subtitle mb-2 text-muted">
                                    begynder den @booking.DateStart
                                </h6>


                                <h6 class="card-subtitle mb-2 text-muted">
                                    varer 1 time
                                </h6>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    På bannen nr @booking.LaneNumber
                                </h6>

                                @if (booking.UserID == @Model.CurrentUser.UserId)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Med @userService.GetUserById(booking.MateID).Username
                                    </h6>
                                }
                                else
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Med @userService.GetUserById(booking.UserID).Username
                                    </h6>
                                
                                }
                                @if (booking.Cancelled)
                                {
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        &#128997; Aflyst
                                    </h6>
                                }
                            </div>

                            <p class="align-items-md-right">
                                <a asp-page="/lanes/b" asp-route-BookingID="@booking.BookingID" class="btn btn-default pull-right">Fjern </a>
                            </p>

                        </div>
                    </p>

                }

            }
        </form>
    </div>
</div>