@page
@model Tennis.Pages.Users.OverviewModel
@{
    ViewData["Title"] = "Brugeroversigt";
}
<div class="card cardouter p-3">
    <h2 class="display-4 textdark">Brugeroversigt</h2>
<a asp-page="CreateUser" class="btn btn-outline-primary">Opret ny bruger</a>
<br />
<div class="card cardfocus p-3">
<form method="get">
    <input class="form-check-input" asp-for="AdvancedSearch" onclick="this.form.submit()" />
    <label for="AdvancedSearch">Avanceret søgning</label><br>
    <input class="form-check-input" asp-for="AdminSearch" onclick="this.form.submit()" />
    <label for="AdminSearch">Søg kun blandt adminstratorer</label><br>
    @if(!Model.AdvancedSearch) {
    <div class="input-group w-25">
        <span class="input-group-text">Søg:</span>
        <input type="text" class="form-control" asp-for="@Model.GenericFilter" onchange="this.form.submit()" />
        </div>
    } else
    {
        <div class="input-group w-50">
            <span class="input-group-text" style="width: 13%;">Navn:</span>
            <input type="text" class="form-control" asp-for="@Model.UsernameFilter" onchange="this.form.submit()" placeholder="Brugernavn"/>
                                 <input type="text" class="form-control" asp-for="@Model.NameFilter" onchange="this.form.submit()" placeholder="For- eller efternavn"/>
        </div>
        <div class="input-group w-50">
            <span class="input-group-text" style="width: 13%;">Kontakt:</span>
             <input type="text" class="form-control" asp-for="@Model.EmailFilter" onchange="this.form.submit()" placeholder="E-mail"/>
             <input type="text" class="form-control" asp-for="@Model.PhoneFilter" onchange="this.form.submit()" placeholder="Telefon nr"/>
        </div>
        <br />
    }
    <table class="table">
    <thead class="lighttablehead">
        <tr>
            <th>
                Bruger ID + navn
            </th>
            <th>
                Genereret password
            </th>
            <th>
                Fuldt navn
            </th>
            <th>
                Kontaktoplysninger
            </th>
            <th>
                Administrator
            </th>
            <th>
                Funktioner
            </th>
        </tr>
    </thead>
    <tbody class="lighttable">
        @if (Model.Users.Count() != 0)
        {
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @item.UserId<span>: </span>@item.Username
                    </td>
                    <td>
                        @if (item.RandomPassword)
                        {
                            @item.Password;
                        }
                    </td>
                    <td>
                        @item.FirstName<br />@item.LastName
                    </td>
                    <td>
                        <span>Tlf: </span>@item.Phone<br /><span>Email: </span>@item.Email
                    </td>
                    @if (item.Administrator)
                    {
                        <td>Admin</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @if(item.UserId == 0)
                        {
                            <button class="btn btn-outline-secondary disabled btn-sm w-100">Opdater</button>

                            <br />

                            <button class="btn btn-outline-secondary disabled btn-sm w-100" style="margin-top: 5px">
                                Fjern</button>
                        } else {
                        <a asp-page="UpdateUser" asp-page-handler="Admin" asp-route-userid="@item.UserId" class="btn btn-outline-success btn-sm w-100">Opdater</a><br /><a asp-page="DeleteUser" asp-route-userid="@item.UserId" class="btn btn-outline-danger btn-sm w-100" style="margin-top: 5px">Fjern</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
</form>
    </div>
</div>